# Why Data Analysis and Pandas

1- **Descriptive Analytics**

- It tells you what has happened. It can be done using an exploratory data analysis.

2- **Predictive Analytics**

- It tells you what will happen. It can be achieved by building predictive models.

3- **Prescriptive Analytics**

- It tells you how to make something happen. It can be done by deriving key insights and hidden patterns from the data.

### There are primarily five steps involved in the data analytics process, which include:

- **Data Collection**: The first step in data analytics is to collect or gather relevant data from multiple sources. Data can come from different databases, web servers, log files, social media, excel, CSV files,and SQL, etc.
- **Data Preparation**: The next step in the process is to prepare the data. It involves cleaning the data to remove unwanted and redundant values, converting it into the right format, and making it ready for analysis. It also requires data wrangling.
- **Data Exploration**: After the data is ready, data exploration is done using various data visualization techniques to find unseen trends from the data.
- **Data Modeling**: The next step is to build your predictive models using machine learning algorithms to make future predictions.
- **Result interpretation**: The final step in any data analytics process is to derive meaningful results and check if the output is in line with your expected results.

### Introduction to Pandas

#### File Reading and Writing Operations

In [1]:
import pandas as pd

In [2]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is BE03-3FCA

 Directory of D:\CodeMe\implementation\data_science_nov

11/27/2023  04:13 PM    <DIR>          .
11/27/2023  04:13 PM    <DIR>          ..
11/20/2023  03:34 PM    <DIR>          .ipynb_checkpoints
02/18/2019  10:37 AM               111 csv_mindex.csv
12/04/2021  03:33 PM                59 demo1.csv
12/04/2021  07:05 PM            10,545 demo1.xlsx
12/04/2021  03:36 PM                43 demo2.csv
02/18/2019  10:37 AM               169 demo3.csv
02/18/2019  10:37 AM               170 demo3.txt
12/04/2021  04:35 PM               169 demo4.csv
02/18/2019  10:37 AM                78 demo5.csv
02/18/2019  10:37 AM           626,863 demo6.csv
02/18/2019  10:37 AM                36 demo7.csv
12/04/2021  04:49 PM             6,189 demo_file.xlsx
02/18/2019  10:37 AM           281,823 fdic_failed_bank_list.html
12/05/2021  06:17 PM             2,681 final.csv
11/27/2023  04:13 PM           212,060 Introduction to Data Analytics.ipynb
01/06/2023  02:49 PM               880 mango_pickle
12/07/2021  12:37 AM            11,520 mydata.h5
11/27/2023  03:42 PM             7,021 nifty_27_nov.csv
11/27/2023  04:11 PM             6,234 nifty_final.csv
10/30/2019  12:16 AM                88 out.csv
12/05/2021  06:10 PM             6,136 out2.csv
12/05/2021  06:11 PM             6,136 out3.csv
12/05/2021  06:11 PM             6,136 out5.csv
12/05/2021  06:18 PM                58 out6.csv
01/06/2023  02:42 PM             6,136 out7.csv
12/05/2021  06:03 PM            32,948 output.csv
02/18/2019  10:37 AM           400,602 stock_px.csv
01/07/2023  01:44 AM       196,592,730 survey_results_public.csv
01/07/2023  01:44 AM             9,857 survey_results_schema.csv
01/19/2023  06:06 PM            32,948 survived.csv
12/06/2021  05:02 PM               942 tasty_pickle
12/04/2021  03:35 PM               118 test.tsv
02/18/2019  10:37 AM                40 test_file.csv
01/19/2023  06:06 PM            32,948 titan.csv
12/05/2021  06:25 PM               102 tseries.csv
              34 File(s)    198,294,576 bytes
               3 Dir(s)  236,528,173,056 bytes free

In [3]:
data=pd.read_csv("demo1.csv")

In [4]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12    file

In [5]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is BE03-3FCA

 Directory of D:\CodeMe\implementation\data_science_nov

11/27/2023  04:13 PM    <DIR>          .
11/27/2023  04:13 PM    <DIR>          ..
11/20/2023  03:34 PM    <DIR>          .ipynb_checkpoints
02/18/2019  10:37 AM               111 csv_mindex.csv
12/04/2021  03:33 PM                59 demo1.csv
12/04/2021  07:05 PM            10,545 demo1.xlsx
12/04/2021  03:36 PM                43 demo2.csv
02/18/2019  10:37 AM               169 demo3.csv
02/18/2019  10:37 AM               170 demo3.txt
12/04/2021  04:35 PM               169 demo4.csv
02/18/2019  10:37 AM                78 demo5.csv
02/18/2019  10:37 AM           626,863 demo6.csv
02/18/2019  10:37 AM                36 demo7.csv
12/04/2021  04:49 PM             6,189 demo_file.xlsx
02/18/2019  10:37 AM           281,823 fdic_failed_bank_list.html
12/05/2021  06:17 PM             2,681 final.csv
11/27/2023  04:13 PM           212,060 Introduction to Data Analytics.ipynb
01/06/2023  02:49 PM               880 mango_pickle
12/07/2021  12:37 AM            11,520 mydata.h5
11/27/2023  03:42 PM             7,021 nifty_27_nov.csv
11/27/2023  04:11 PM             6,234 nifty_final.csv
10/30/2019  12:16 AM                88 out.csv
12/05/2021  06:10 PM             6,136 out2.csv
12/05/2021  06:11 PM             6,136 out3.csv
12/05/2021  06:11 PM             6,136 out5.csv
12/05/2021  06:18 PM                58 out6.csv
01/06/2023  02:42 PM             6,136 out7.csv
12/05/2021  06:03 PM            32,948 output.csv
02/18/2019  10:37 AM           400,602 stock_px.csv
01/07/2023  01:44 AM       196,592,730 survey_results_public.csv
01/07/2023  01:44 AM             9,857 survey_results_schema.csv
01/19/2023  06:06 PM            32,948 survived.csv
12/06/2021  05:02 PM               942 tasty_pickle
12/04/2021  03:35 PM               118 test.tsv
02/18/2019  10:37 AM                40 test_file.csv
01/19/2023  06:06 PM            32,948 titan.csv
12/05/2021  06:25 PM               102 tseries.csv
              34 File(s)    198,294,576 bytes
               3 Dir(s)  236,528,173,056 bytes free

In [6]:
pd.read_csv('D:\CodeMe\survived.csv')

     Unnamed: 0                                               Name  Survived
0             0                            Braund, Mr. Owen Harris         0
1             1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2             2                             Heikkinen, Miss. Laina         1
3             3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4             4                           Allen, Mr. William Henry         0
..          ...                                                ...       ...
886         886                              Montvila, Rev. Juozas         0
887         887                       Graham, Miss. Margaret Edith         1
888         888           Johnston, Miss. Catherine Helen "Carrie"         0
889         889                              Behr, Mr. Karl Howell         1
890         890                                Dooley, Mr. Patrick         0

[891 rows x 3 columns]

In [7]:
pd.read_csv('F:\survived.csv')

     Unnamed: 0                                               Name  Survived
0             0                            Braund, Mr. Owen Harris         0
1             1  Cumings, Mrs. John Bradley (Florence Briggs Th...         1
2             2                             Heikkinen, Miss. Laina         1
3             3       Futrelle, Mrs. Jacques Heath (Lily May Peel)         1
4             4                           Allen, Mr. William Henry         0
..          ...                                                ...       ...
886         886                              Montvila, Rev. Juozas         0
887         887                       Graham, Miss. Margaret Edith         1
888         888           Johnston, Miss. Catherine Helen "Carrie"         0
889         889                              Behr, Mr. Karl Howell         1
890         890                                Dooley, Mr. Patrick         0

[891 rows x 3 columns]

In [8]:
pd.read_csv(r'D:\\CodeMe\\implementation\\data_science_nov\\demo1.csv')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12    file

### Creating Series and DataFrame

In [9]:
data = [1,2,3,4,5,6,7]
data

[1, 2, 3, 4, 5, 6, 7]

In [10]:
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [11]:
pd.DataFrame(data)

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7

In [12]:
out = ['Virat','Shami','Rohit','Siraj','Gill']
pd.Series(out)

0    Virat
1    Shami
2    Rohit
3    Siraj
4     Gill
dtype: object

In [13]:
pd.DataFrame(out)

       0
0  Virat
1  Shami
2  Rohit
3  Siraj
4   Gill

In [14]:
pd.DataFrame({"players":['Virat','Shami','Rohit','Siraj','Gill']})

  players
0   Virat
1   Shami
2   Rohit
3   Siraj
4    Gill

In [15]:
pd.Series({'players':['Virat','Shami','Rohit','Siraj','Gill']})

players    [Virat, Shami, Rohit, Siraj, Gill]
dtype: object

In [16]:
df = pd.DataFrame({'Name':['Sachin','Rohit','Virat'],"Avrg":[49,50,55],'Team':['Mumbai','Mumbai','Bangalore']})
df

     Name  Avrg       Team
0  Sachin    49     Mumbai
1   Rohit    50     Mumbai
2   Virat    55  Bangalore

In [17]:
out={'Name':['Sachin','Rohit','Virat'],"Avrg":[49,50,55],'Team':['Mumbai','Mumbai','Bangalore'],'Course':{'DS':['DA','BA','DE']}}

In [18]:
out

{'Name': ['Sachin', 'Rohit', 'Virat'],
 'Avrg': [49, 50, 55],
 'Team': ['Mumbai', 'Mumbai', 'Bangalore'],
 'Course': {'DS': ['DA', 'BA', 'DE']}}

In [19]:
out['Team']

['Mumbai', 'Mumbai', 'Bangalore']

In [20]:
out['Name'][-1]

'Virat'

In [21]:
out['Team'][1]

'Mumbai'

In [22]:
out['Course']['DS'][1]

'BA'

## CSV

In [23]:
data = pd.read_csv('demo1.csv')
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12    file

In [24]:
data2 = pd.read_csv('demo2.csv',names=['a','b','c','d','text'])

In [25]:
data2

   a   b   c   d   text
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12   file

In [26]:
data3 = pd.read_csv('test.tsv',sep="\t")
data3

                    test     test   test.1   test.2  test.3
Magnus  Magnus    Magnus   Magnus   Magnus   Magnus     NaN
Carlsen Carlsen  Carlsen  Carlsen  Carlsen  Carlsen     NaN

In [27]:
pd.read_table('demo2.csv',sep=',')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12   file

## read only what you want

In [28]:
data4= pd.read_csv('demo4.csv',skiprows=[0,2,3])
data4

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [29]:
nifty = pd.read_csv('nifty_27_nov.csv')
nifty

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 25-Nov-2022
0,NIFTY 50,"19,809.60","19,832.85","19,768.85","19,802.00","19,794.70",-7.30,-0.04,"14,58,95,044","14,389.21","20,222.45","16,828.35",3.92,6.92
1,ADANIENT,"2,179.00","2,251.95","2,160.90","2,175.25","2,250.00",74.75,3.44,"19,46,259",429.35,"4,190.00","1,017.45",-1.60,-42.95
2,CIPLA,"1,190.05","1,205.00","1,178.00","1,170.65","1,196.25",25.60,2.19,"53,31,201",637.41,"1,283.55",852.00,2.08,8.44
3,DIVISLAB,"3,688.50","3,778.95","3,686.95","3,688.50","3,760.00",71.50,1.94,"8,29,615",311.87,"3,934.70","2,730.00",10.34,12.63
4,HINDALCO,504.85,512.75,502.55,501.95,509.00,7.05,1.40,"59,73,059",303.61,513.50,381.00,11.32,15.24
5,ADANIPORTS,795.90,802.95,785.00,793.10,801.00,7.90,1.00,"44,21,350",349.41,912.00,395.10,1.68,-9.56
6,AXISBANK,"1,002.00","1,010.75",999.70,999.05,"1,009.00",9.95,1.00,"69,56,281",700.35,"1,047.50",814.30,0.57,13.60
7,HDFCBANK,"1,521.20","1,533.15","1,519.85","1,521.30","1,531.40",10.10,0.66,"82,34,596","1,259.07","1,757.50","1,460.25",4.28,-5.29
8,ICICIBANK,921.50,930.40,920.20,923.00,929.00,6.00,0.65,"74,52,002",689.33,"1,008.70",796.00,1.82,-0.10
9,JSWSTEEL,779.00,786.25,776.40,775.55,779.85,4.30,0.55,"20,69,730",161.93,840.00,649.05,6.84,7.69
10,HDFCLIFE,666.05,672.25,663.05,665.00,668.00,3.00,0.45,"15,11,079",100.89,690.85,457.80,9.75,13.88
11,KOTAKBANK,"1,739.50","1,749.50","1,733.70","1,739.30","1,746.90",7.60,0.44,"25,61,979",446.09,"2,064.40","1,643.50",2.43,-9.56
12,NTPC,253.30,256.85,253.00,252.75,253.80,1.05,0.42,"71,49,443",182.27,256.85,161.90,7.31,49.57
13,M&M,"1,549.00","1,559.50","1,547.50","1,545.85","1,551.95",6.10,0.39,"12,39,270",192.48,"1,670.00","1,123.40",2.81,23.19
14,ASIANPAINT,"3,118.00","3,139.80","3,111.00","3,122.95","3,130.20",7.25,0.23,"7,56,329",236.47,"3,568.00","2,685.85",6.12,0.90
15,LT,"3,050.00","3,067.00","3,039.60","3,045.65","3,051.80",6.15,0.20,"9,15,121",279.54,"3,115.45","2,018.00",5.25,48.07
16,SBIN,561.95,562.45,559.25,559.95,560.70,0.75,0.13,"65,29,851",366.08,629.55,499.35,-0.14,-7.75
17,BAJAJ-AUTO,"5,940.00","5,960.00","5,900.00","5,925.25","5,929.30",4.05,0.07,"2,97,211",175.90,"5,960.00","3,520.05",10.36,62.91
18,RELIANCE,"2,391.60","2,402.60","2,391.05","2,395.50","2,394.25",-1.25,-0.05,"33,74,743",809.02,"2,856.00","2,180.00",5.65,-8.55
19,MARUTI,"10,505.95","10,566.50","10,462.00","10,488.50","10,481.00",-7.50,-0.07,"3,80,306",399.89,"10,845.00","8,076.05",-0.43,16.59
20,LTIM,"5,490.00","5,511.35","5,437.75","5,471.35","5,466.05",-5.30,-0.10,"1,52,012",83.15,"5,637.65","4,121.00",5.83,-
21,HINDUNILVR,"2,515.10","2,519.80","2,507.45","2,519.90","2,515.45",-4.45,-0.18,"7,35,137",184.85,"2,769.65","2,393.00",1.34,-0.88
22,TITAN,"3,406.00","3,419.10","3,382.55","3,408.40","3,398.40",-10.00,-0.29,"5,89,530",200.59,"3,441.95","2,269.60",8.85,30.88
23,DRREDDY,"5,649.95","5,756.85","5,615.00","5,644.65","5,625.00",-19.65,-0.35,"4,61,081",263.10,"5,989.70","4,175.10",4.61,27.80
24,SUNPHARMA,"1,200.00","1,209.60","1,192.80","1,198.80","1,194.05",-4.75,-0.40,"13,76,695",165.03,"1,214.80",922.45,7.57,15.63
25,ULTRACEMCO,"8,638.00","8,655.00","8,545.05","8,605.25","8,570.00",-35.25,-0.41,"1,97,278",169.38,"8,869.60","6,604.10",4.21,24.47
26,TATACONSUM,934.70,936.85,924.00,933.00,929.00,-4.00,-0.43,"5,21,207",48.39,940.85,686.60,4.02,17.46
27,SBILIFE,"1,414.00","1,418.95","1,401.05","1,410.95","1,404.75",-6.20,-0.44,"3,87,896",54.66,"1,438.55","1,054.00",8.20,14.12
28,COALINDIA,335.35,337.45,332.10,334.45,332.85,-1.60,-0.48,"70,54,445",236.03,359.00,207.60,6.00,43.82
29,TATASTEEL,126.70,127.00,125.55,126.70,126.05,-0.65,-0.51,"1,47,19,450",185.67,135.00,101.55,5.05,18.60
30,POWERGRID,211.30,212.10,209.50,210.90,209.80,-1.10,-0.52,"72,50,200",152.75,215.10,153.19,4.73,-4.60
31,BAJFINANCE,"7,108.00","7,116.80","7,011.00","7,073.65","7,035.00",-38.65,-0.55,"7,26,499",512.02,"8,192.00","5,485.70",-6.48,4.05
32,BAJAJFINSV,"1,624.45","1,628.95","1,612.00","1,623.95","1,615.00",-8.95,-0.55,"6,25,345",101.20,"1,676.75","1,215.00",3.25,-1.01
33,ITC,441.00,442.25,436.85,440.35,437.90,-2.45,-0.56,"68,21,878",299.47,499.70,325.35,0.93,28.65
34,BPCL,413.00,413.00,407.00,411.30,409.00,-2.30,-0.56,"54,87,773",225.11,413.50,306.10,22.59,26.55
35,GRASIM,"1,963.90","1,969.45","1,945.45","1,956.90","1,945.95",-10.95,-0.56,"1,68,018",32.85,"2,022.00","1,527.05",5.03,12.35
36,BHARTIARTL,975.00,977.15,971.00,976.65,971.00,-5.65,-0.58,"23,22,104",226.29,981.00,735.80,6.40,14.91
37,HEROMOTOCO,"3,568.00","3,579.80","3,532.75","3,568.00","3,545.00",-23.00,-0.64,"5,14,405",182.66,"3,579.80","2,246.00",14.02,31.03
38,INDUSINDBK,"1,491.45","1,491.90","1,474.00","1,486.10","1,476.00",-10.10,-0.68,"28,13,844",416.92,"1,538.50",990.00,2.42,24.35
39,NESTLEIND,"24,450.00","24,472.85","24,108.05","24,393.30","24,189.90",-203.40,-0.83,"40,412",97.78,"24,745.00","17,880.00",0.34,23.60
40,INFY,"1,445.55","1,452.65","1,433.85","1,449.25","1,437.00",-12.25,-0.85,"29,73,195",428.19,"1,672.60","1,185.30",4.13,-12.12
41,TATAMOTORS,681.40,681.95,671.25,679.95,673.50,-6.45,-0.95,"69,51,690",468.99,687.65,375.20,5.09,55.52
42,EICHERMOT,"3,895.70","3,920.00","3,842.05","3,883.80","3,846.00",-37.80,-0.97,"2,66,314",102.89,"3,920.00","2,836.00",13.38,12.74
43,TECHM,"1,212.05","1,214.95","1,195.10","1,210.90","1,197.20",-13.70,-1.13,"8,84,921",106.55,"1,320.00",981.05,6.90,10.90
44,ONGC,190.85,191.85,188.15,190.65,188.40,-2.25,-1.18,"57,51,331",109.10,203.40,134.55,2.22,34.36
45,UPL,565.50,568.35,558.05,565.90,558.95,-6.95,-1.23,"8,68,199",48.76,807.00,528.15,0.05,-28.08
46,BRITANNIA,"4,705.80","4,715.00","4,640.50","4,705.80","4,642.00",-63.80,-1.36,"1,23,628",57.66,"5,270.35","4,139.50",2.88,11.01
47,TCS,"3,494.25","3,504.55","3,453.00","3,508.25","3,454.00",-54.25,-1.55,"19,89,733",691.33,"3,679.00","3,070.25",3.17,1.99
48,HCLTECH,"1,328.90","1,332.65","1,305.65","1,329.00","1,308.40",-20.60,-1.55,"17,95,933",235.73,"1,336.00","1,011.50",3.19,16.04
49,APOLLOHOSP,"5,493.00","5,493.00","5,395.00","5,493.95","5,408.70",-85.25,-1.55,"2,70,183",146.71,"5,595.00","4,123.00",11.82,12.77
50,WIPRO,402.50,403.50,395.55,402.50,396.00,-6.50,-1.61,"31,25,283",124.43,443.75,352.00,3.57,-1.69

In [30]:
nifty.replace(" \n",'',inplace=True)

In [31]:
nifty

,SYMBOL \n,OPEN \n,HIGH \n,LOW \n,PREV. CLOSE \n,LTP \n,CHNG \n,%CHNG \n,VOLUME \n(shares),VALUE \n (₹ Crores),52W H \n,52W L \n,30 D %CHNG \n,365 D % CHNG \n 25-Nov-2022
0,NIFTY 50,"19,809.60","19,832.85","19,768.85","19,802.00","19,794.70",-7.30,-0.04,"14,58,95,044","14,389.21","20,222.45","16,828.35",3.92,6.92
1,ADANIENT,"2,179.00","2,251.95","2,160.90","2,175.25","2,250.00",74.75,3.44,"19,46,259",429.35,"4,190.00","1,017.45",-1.60,-42.95
2,CIPLA,"1,190.05","1,205.00","1,178.00","1,170.65","1,196.25",25.60,2.19,"53,31,201",637.41,"1,283.55",852.00,2.08,8.44
3,DIVISLAB,"3,688.50","3,778.95","3,686.95","3,688.50","3,760.00",71.50,1.94,"8,29,615",311.87,"3,934.70","2,730.00",10.34,12.63
4,HINDALCO,504.85,512.75,502.55,501.95,509.00,7.05,1.40,"59,73,059",303.61,513.50,381.00,11.32,15.24
5,ADANIPORTS,795.90,802.95,785.00,793.10,801.00,7.90,1.00,"44,21,350",349.41,912.00,395.10,1.68,-9.56
6,AXISBANK,"1,002.00","1,010.75",999.70,999.05,"1,009.00",9.95,1.00,"69,56,281",700.35,"1,047.50",814.30,0.57,13.60
7,HDFCBANK,"1,521.20","1,533.15","1,519.85","1,521.30","1,531.40",10.10,0.66,"82,34,596","1,259.07","1,757.50","1,460.25",4.28,-5.29
8,ICICIBANK,921.50,930.40,920.20,923.00,929.00,6.00,0.65,"74,52,002",689.33,"1,008.70",796.00,1.82,-0.10
9,JSWSTEEL,779.00,786.25,776.40,775.55,779.85,4.30,0.55,"20,69,730",161.93,840.00,649.05,6.84,7.69
10,HDFCLIFE,666.05,672.25,663.05,665.00,668.00,3.00,0.45,"15,11,079",100.89,690.85,457.80,9.75,13.88
11,KOTAKBANK,"1,739.50","1,749.50","1,733.70","1,739.30","1,746.90",7.60,0.44,"25,61,979",446.09,"2,064.40","1,643.50",2.43,-9.56
12,NTPC,253.30,256.85,253.00,252.75,253.80,1.05,0.42,"71,49,443",182.27,256.85,161.90,7.31,49.57
13,M&M,"1,549.00","1,559.50","1,547.50","1,545.85","1,551.95",6.10,0.39,"12,39,270",192.48,"1,670.00","1,123.40",2.81,23.19
14,ASIANPAINT,"3,118.00","3,139.80","3,111.00","3,122.95","3,130.20",7.25,0.23,"7,56,329",236.47,"3,568.00","2,685.85",6.12,0.90
15,LT,"3,050.00","3,067.00","3,039.60","3,045.65","3,051.80",6.15,0.20,"9,15,121",279.54,"3,115.45","2,018.00",5.25,48.07
16,SBIN,561.95,562.45,559.25,559.95,560.70,0.75,0.13,"65,29,851",366.08,629.55,499.35,-0.14,-7.75
17,BAJAJ-AUTO,"5,940.00","5,960.00","5,900.00","5,925.25","5,929.30",4.05,0.07,"2,97,211",175.90,"5,960.00","3,520.05",10.36,62.91
18,RELIANCE,"2,391.60","2,402.60","2,391.05","2,395.50","2,394.25",-1.25,-0.05,"33,74,743",809.02,"2,856.00","2,180.00",5.65,-8.55
19,MARUTI,"10,505.95","10,566.50","10,462.00","10,488.50","10,481.00",-7.50,-0.07,"3,80,306",399.89,"10,845.00","8,076.05",-0.43,16.59
20,LTIM,"5,490.00","5,511.35","5,437.75","5,471.35","5,466.05",-5.30,-0.10,"1,52,012",83.15,"5,637.65","4,121.00",5.83,-
21,HINDUNILVR,"2,515.10","2,519.80","2,507.45","2,519.90","2,515.45",-4.45,-0.18,"7,35,137",184.85,"2,769.65","2,393.00",1.34,-0.88
22,TITAN,"3,406.00","3,419.10","3,382.55","3,408.40","3,398.40",-10.00,-0.29,"5,89,530",200.59,"3,441.95","2,269.60",8.85,30.88
23,DRREDDY,"5,649.95","5,756.85","5,615.00","5,644.65","5,625.00",-19.65,-0.35,"4,61,081",263.10,"5,989.70","4,175.10",4.61,27.80
24,SUNPHARMA,"1,200.00","1,209.60","1,192.80","1,198.80","1,194.05",-4.75,-0.40,"13,76,695",165.03,"1,214.80",922.45,7.57,15.63
25,ULTRACEMCO,"8,638.00","8,655.00","8,545.05","8,605.25","8,570.00",-35.25,-0.41,"1,97,278",169.38,"8,869.60","6,604.10",4.21,24.47
26,TATACONSUM,934.70,936.85,924.00,933.00,929.00,-4.00,-0.43,"5,21,207",48.39,940.85,686.60,4.02,17.46
27,SBILIFE,"1,414.00","1,418.95","1,401.05","1,410.95","1,404.75",-6.20,-0.44,"3,87,896",54.66,"1,438.55","1,054.00",8.20,14.12
28,COALINDIA,335.35,337.45,332.10,334.45,332.85,-1.60,-0.48,"70,54,445",236.03,359.00,207.60,6.00,43.82
29,TATASTEEL,126.70,127.00,125.55,126.70,126.05,-0.65,-0.51,"1,47,19,450",185.67,135.00,101.55,5.05,18.60
30,POWERGRID,211.30,212.10,209.50,210.90,209.80,-1.10,-0.52,"72,50,200",152.75,215.10,153.19,4.73,-4.60
31,BAJFINANCE,"7,108.00","7,116.80","7,011.00","7,073.65","7,035.00",-38.65,-0.55,"7,26,499",512.02,"8,192.00","5,485.70",-6.48,4.05
32,BAJAJFINSV,"1,624.45","1,628.95","1,612.00","1,623.95","1,615.00",-8.95,-0.55,"6,25,345",101.20,"1,676.75","1,215.00",3.25,-1.01
33,ITC,441.00,442.25,436.85,440.35,437.90,-2.45,-0.56,"68,21,878",299.47,499.70,325.35,0.93,28.65
34,BPCL,413.00,413.00,407.00,411.30,409.00,-2.30,-0.56,"54,87,773",225.11,413.50,306.10,22.59,26.55
35,GRASIM,"1,963.90","1,969.45","1,945.45","1,956.90","1,945.95",-10.95,-0.56,"1,68,018",32.85,"2,022.00","1,527.05",5.03,12.35
36,BHARTIARTL,975.00,977.15,971.00,976.65,971.00,-5.65,-0.58,"23,22,104",226.29,981.00,735.80,6.40,14.91
37,HEROMOTOCO,"3,568.00","3,579.80","3,532.75","3,568.00","3,545.00",-23.00,-0.64,"5,14,405",182.66,"3,579.80","2,246.00",14.02,31.03
38,INDUSINDBK,"1,491.45","1,491.90","1,474.00","1,486.10","1,476.00",-10.10,-0.68,"28,13,844",416.92,"1,538.50",990.00,2.42,24.35
39,NESTLEIND,"24,450.00","24,472.85","24,108.05","24,393.30","24,189.90",-203.40,-0.83,"40,412",97.78,"24,745.00","17,880.00",0.34,23.60
40,INFY,"1,445.55","1,452.65","1,433.85","1,449.25","1,437.00",-12.25,-0.85,"29,73,195",428.19,"1,672.60","1,185.30",4.13,-12.12
41,TATAMOTORS,681.40,681.95,671.25,679.95,673.50,-6.45,-0.95,"69,51,690",468.99,687.65,375.20,5.09,55.52
42,EICHERMOT,"3,895.70","3,920.00","3,842.05","3,883.80","3,846.00",-37.80,-0.97,"2,66,314",102.89,"3,920.00","2,836.00",13.38,12.74
43,TECHM,"1,212.05","1,214.95","1,195.10","1,210.90","1,197.20",-13.70,-1.13,"8,84,921",106.55,"1,320.00",981.05,6.90,10.90
44,ONGC,190.85,191.85,188.15,190.65,188.40,-2.25,-1.18,"57,51,331",109.10,203.40,134.55,2.22,34.36
45,UPL,565.50,568.35,558.05,565.90,558.95,-6.95,-1.23,"8,68,199",48.76,807.00,528.15,0.05,-28.08
46,BRITANNIA,"4,705.80","4,715.00","4,640.50","4,705.80","4,642.00",-63.80,-1.36,"1,23,628",57.66,"5,270.35","4,139.50",2.88,11.01
47,TCS,"3,494.25","3,504.55","3,453.00","3,508.25","3,454.00",-54.25,-1.55,"19,89,733",691.33,"3,679.00","3,070.25",3.17,1.99
48,HCLTECH,"1,328.90","1,332.65","1,305.65","1,329.00","1,308.40",-20.60,-1.55,"17,95,933",235.73,"1,336.00","1,011.50",3.19,16.04
49,APOLLOHOSP,"5,493.00","5,493.00","5,395.00","5,493.95","5,408.70",-85.25,-1.55,"2,70,183",146.71,"5,595.00","4,123.00",11.82,12.77
50,WIPRO,402.50,403.50,395.55,402.50,396.00,-6.50,-1.61,"31,25,283",124.43,443.75,352.00,3.57,-1.69

In [32]:
nifty.rename(columns={'SYMBOL \n':"SYMBOL", 'OPEN \n':"OPEN", 'HIGH \n':"HIGH", 'LOW \n':"LOW", 'PREV. CLOSE \n':"PREV.CLOSE", 'LTP \n':"LTP",'CHNG \n':"CHNG", '%CHNG \n':"%CHNG", 'VOLUME \n(shares)':"VOLUME(shares)", 'VALUE \n (₹ Crores)':'VALUE(₹ Crores)','52W H \n':"52W H", '52W L \n':"52W L", '30 D   %CHNG \n':"30 D %CHNG",'365 D % CHNG \n 25-Nov-2022':"365 D % CHNG"},inplace=True)

In [33]:
nifty

,SYMBOL,OPEN,HIGH,LOW,PREV.CLOSE,LTP,CHNG,%CHNG,VOLUME(shares),VALUE(₹ Crores),52W H,52W L,30 D %CHNG,365 D % CHNG
0,NIFTY 50,"19,809.60","19,832.85","19,768.85","19,802.00","19,794.70",-7.30,-0.04,"14,58,95,044","14,389.21","20,222.45","16,828.35",3.92,6.92
1,ADANIENT,"2,179.00","2,251.95","2,160.90","2,175.25","2,250.00",74.75,3.44,"19,46,259",429.35,"4,190.00","1,017.45",-1.60,-42.95
2,CIPLA,"1,190.05","1,205.00","1,178.00","1,170.65","1,196.25",25.60,2.19,"53,31,201",637.41,"1,283.55",852.00,2.08,8.44
3,DIVISLAB,"3,688.50","3,778.95","3,686.95","3,688.50","3,760.00",71.50,1.94,"8,29,615",311.87,"3,934.70","2,730.00",10.34,12.63
4,HINDALCO,504.85,512.75,502.55,501.95,509.00,7.05,1.40,"59,73,059",303.61,513.50,381.00,11.32,15.24
5,ADANIPORTS,795.90,802.95,785.00,793.10,801.00,7.90,1.00,"44,21,350",349.41,912.00,395.10,1.68,-9.56
6,AXISBANK,"1,002.00","1,010.75",999.70,999.05,"1,009.00",9.95,1.00,"69,56,281",700.35,"1,047.50",814.30,0.57,13.60
7,HDFCBANK,"1,521.20","1,533.15","1,519.85","1,521.30","1,531.40",10.10,0.66,"82,34,596","1,259.07","1,757.50","1,460.25",4.28,-5.29
8,ICICIBANK,921.50,930.40,920.20,923.00,929.00,6.00,0.65,"74,52,002",689.33,"1,008.70",796.00,1.82,-0.10
9,JSWSTEEL,779.00,786.25,776.40,775.55,779.85,4.30,0.55,"20,69,730",161.93,840.00,649.05,6.84,7.69
10,HDFCLIFE,666.05,672.25,663.05,665.00,668.00,3.00,0.45,"15,11,079",100.89,690.85,457.80,9.75,13.88
11,KOTAKBANK,"1,739.50","1,749.50","1,733.70","1,739.30","1,746.90",7.60,0.44,"25,61,979",446.09,"2,064.40","1,643.50",2.43,-9.56
12,NTPC,253.30,256.85,253.00,252.75,253.80,1.05,0.42,"71,49,443",182.27,256.85,161.90,7.31,49.57
13,M&M,"1,549.00","1,559.50","1,547.50","1,545.85","1,551.95",6.10,0.39,"12,39,270",192.48,"1,670.00","1,123.40",2.81,23.19
14,ASIANPAINT,"3,118.00","3,139.80","3,111.00","3,122.95","3,130.20",7.25,0.23,"7,56,329",236.47,"3,568.00","2,685.85",6.12,0.90
15,LT,"3,050.00","3,067.00","3,039.60","3,045.65","3,051.80",6.15,0.20,"9,15,121",279.54,"3,115.45","2,018.00",5.25,48.07
16,SBIN,561.95,562.45,559.25,559.95,560.70,0.75,0.13,"65,29,851",366.08,629.55,499.35,-0.14,-7.75
17,BAJAJ-AUTO,"5,940.00","5,960.00","5,900.00","5,925.25","5,929.30",4.05,0.07,"2,97,211",175.90,"5,960.00","3,520.05",10.36,62.91
18,RELIANCE,"2,391.60","2,402.60","2,391.05","2,395.50","2,394.25",-1.25,-0.05,"33,74,743",809.02,"2,856.00","2,180.00",5.65,-8.55
19,MARUTI,"10,505.95","10,566.50","10,462.00","10,488.50","10,481.00",-7.50,-0.07,"3,80,306",399.89,"10,845.00","8,076.05",-0.43,16.59
20,LTIM,"5,490.00","5,511.35","5,437.75","5,471.35","5,466.05",-5.30,-0.10,"1,52,012",83.15,"5,637.65","4,121.00",5.83,-
21,HINDUNILVR,"2,515.10","2,519.80","2,507.45","2,519.90","2,515.45",-4.45,-0.18,"7,35,137",184.85,"2,769.65","2,393.00",1.34,-0.88
22,TITAN,"3,406.00","3,419.10","3,382.55","3,408.40","3,398.40",-10.00,-0.29,"5,89,530",200.59,"3,441.95","2,269.60",8.85,30.88
23,DRREDDY,"5,649.95","5,756.85","5,615.00","5,644.65","5,625.00",-19.65,-0.35,"4,61,081",263.10,"5,989.70","4,175.10",4.61,27.80
24,SUNPHARMA,"1,200.00","1,209.60","1,192.80","1,198.80","1,194.05",-4.75,-0.40,"13,76,695",165.03,"1,214.80",922.45,7.57,15.63
25,ULTRACEMCO,"8,638.00","8,655.00","8,545.05","8,605.25","8,570.00",-35.25,-0.41,"1,97,278",169.38,"8,869.60","6,604.10",4.21,24.47
26,TATACONSUM,934.70,936.85,924.00,933.00,929.00,-4.00,-0.43,"5,21,207",48.39,940.85,686.60,4.02,17.46
27,SBILIFE,"1,414.00","1,418.95","1,401.05","1,410.95","1,404.75",-6.20,-0.44,"3,87,896",54.66,"1,438.55","1,054.00",8.20,14.12
28,COALINDIA,335.35,337.45,332.10,334.45,332.85,-1.60,-0.48,"70,54,445",236.03,359.00,207.60,6.00,43.82
29,TATASTEEL,126.70,127.00,125.55,126.70,126.05,-0.65,-0.51,"1,47,19,450",185.67,135.00,101.55,5.05,18.60
30,POWERGRID,211.30,212.10,209.50,210.90,209.80,-1.10,-0.52,"72,50,200",152.75,215.10,153.19,4.73,-4.60
31,BAJFINANCE,"7,108.00","7,116.80","7,011.00","7,073.65","7,035.00",-38.65,-0.55,"7,26,499",512.02,"8,192.00","5,485.70",-6.48,4.05
32,BAJAJFINSV,"1,624.45","1,628.95","1,612.00","1,623.95","1,615.00",-8.95,-0.55,"6,25,345",101.20,"1,676.75","1,215.00",3.25,-1.01
33,ITC,441.00,442.25,436.85,440.35,437.90,-2.45,-0.56,"68,21,878",299.47,499.70,325.35,0.93,28.65
34,BPCL,413.00,413.00,407.00,411.30,409.00,-2.30,-0.56,"54,87,773",225.11,413.50,306.10,22.59,26.55
35,GRASIM,"1,963.90","1,969.45","1,945.45","1,956.90","1,945.95",-10.95,-0.56,"1,68,018",32.85,"2,022.00","1,527.05",5.03,12.35
36,BHARTIARTL,975.00,977.15,971.00,976.65,971.00,-5.65,-0.58,"23,22,104",226.29,981.00,735.80,6.40,14.91
37,HEROMOTOCO,"3,568.00","3,579.80","3,532.75","3,568.00","3,545.00",-23.00,-0.64,"5,14,405",182.66,"3,579.80","2,246.00",14.02,31.03
38,INDUSINDBK,"1,491.45","1,491.90","1,474.00","1,486.10","1,476.00",-10.10,-0.68,"28,13,844",416.92,"1,538.50",990.00,2.42,24.35
39,NESTLEIND,"24,450.00","24,472.85","24,108.05","24,393.30","24,189.90",-203.40,-0.83,"40,412",97.78,"24,745.00","17,880.00",0.34,23.60
40,INFY,"1,445.55","1,452.65","1,433.85","1,449.25","1,437.00",-12.25,-0.85,"29,73,195",428.19,"1,672.60","1,185.30",4.13,-12.12
41,TATAMOTORS,681.40,681.95,671.25,679.95,673.50,-6.45,-0.95,"69,51,690",468.99,687.65,375.20,5.09,55.52
42,EICHERMOT,"3,895.70","3,920.00","3,842.05","3,883.80","3,846.00",-37.80,-0.97,"2,66,314",102.89,"3,920.00","2,836.00",13.38,12.74
43,TECHM,"1,212.05","1,214.95","1,195.10","1,210.90","1,197.20",-13.70,-1.13,"8,84,921",106.55,"1,320.00",981.05,6.90,10.90
44,ONGC,190.85,191.85,188.15,190.65,188.40,-2.25,-1.18,"57,51,331",109.10,203.40,134.55,2.22,34.36
45,UPL,565.50,568.35,558.05,565.90,558.95,-6.95,-1.23,"8,68,199",48.76,807.00,528.15,0.05,-28.08
46,BRITANNIA,"4,705.80","4,715.00","4,640.50","4,705.80","4,642.00",-63.80,-1.36,"1,23,628",57.66,"5,270.35","4,139.50",2.88,11.01
47,TCS,"3,494.25","3,504.55","3,453.00","3,508.25","3,454.00",-54.25,-1.55,"19,89,733",691.33,"3,679.00","3,070.25",3.17,1.99
48,HCLTECH,"1,328.90","1,332.65","1,305.65","1,329.00","1,308.40",-20.60,-1.55,"17,95,933",235.73,"1,336.00","1,011.50",3.19,16.04
49,APOLLOHOSP,"5,493.00","5,493.00","5,395.00","5,493.95","5,408.70",-85.25,-1.55,"2,70,183",146.71,"5,595.00","4,123.00",11.82,12.77
50,WIPRO,402.50,403.50,395.55,402.50,396.00,-6.50,-1.61,"31,25,283",124.43,443.75,352.00,3.57,-1.69

In [34]:
nifty.to_csv('nifty_final.csv')

In [35]:
pd.read_csv('nifty_final.csv',index_col=[0])

,SYMBOL,OPEN,HIGH,LOW,PREV.CLOSE,LTP,CHNG,%CHNG,VOLUME(shares),VALUE(₹ Crores),52W H,52W L,30 D %CHNG,365 D % CHNG
0,NIFTY 50,"19,809.60","19,832.85","19,768.85","19,802.00","19,794.70",-7.30,-0.04,"14,58,95,044","14,389.21","20,222.45","16,828.35",3.92,6.92
1,ADANIENT,"2,179.00","2,251.95","2,160.90","2,175.25","2,250.00",74.75,3.44,"19,46,259",429.35,"4,190.00","1,017.45",-1.60,-42.95
2,CIPLA,"1,190.05","1,205.00","1,178.00","1,170.65","1,196.25",25.60,2.19,"53,31,201",637.41,"1,283.55",852.00,2.08,8.44
3,DIVISLAB,"3,688.50","3,778.95","3,686.95","3,688.50","3,760.00",71.50,1.94,"8,29,615",311.87,"3,934.70","2,730.00",10.34,12.63
4,HINDALCO,504.85,512.75,502.55,501.95,509.00,7.05,1.40,"59,73,059",303.61,513.50,381.00,11.32,15.24
5,ADANIPORTS,795.90,802.95,785.00,793.10,801.00,7.90,1.00,"44,21,350",349.41,912.00,395.10,1.68,-9.56
6,AXISBANK,"1,002.00","1,010.75",999.70,999.05,"1,009.00",9.95,1.00,"69,56,281",700.35,"1,047.50",814.30,0.57,13.60
7,HDFCBANK,"1,521.20","1,533.15","1,519.85","1,521.30","1,531.40",10.10,0.66,"82,34,596","1,259.07","1,757.50","1,460.25",4.28,-5.29
8,ICICIBANK,921.50,930.40,920.20,923.00,929.00,6.00,0.65,"74,52,002",689.33,"1,008.70",796.00,1.82,-0.10
9,JSWSTEEL,779.00,786.25,776.40,775.55,779.85,4.30,0.55,"20,69,730",161.93,840.00,649.05,6.84,7.69
10,HDFCLIFE,666.05,672.25,663.05,665.00,668.00,3.00,0.45,"15,11,079",100.89,690.85,457.80,9.75,13.88
11,KOTAKBANK,"1,739.50","1,749.50","1,733.70","1,739.30","1,746.90",7.60,0.44,"25,61,979",446.09,"2,064.40","1,643.50",2.43,-9.56
12,NTPC,253.30,256.85,253.00,252.75,253.80,1.05,0.42,"71,49,443",182.27,256.85,161.90,7.31,49.57
13,M&M,"1,549.00","1,559.50","1,547.50","1,545.85","1,551.95",6.10,0.39,"12,39,270",192.48,"1,670.00","1,123.40",2.81,23.19
14,ASIANPAINT,"3,118.00","3,139.80","3,111.00","3,122.95","3,130.20",7.25,0.23,"7,56,329",236.47,"3,568.00","2,685.85",6.12,0.90
15,LT,"3,050.00","3,067.00","3,039.60","3,045.65","3,051.80",6.15,0.20,"9,15,121",279.54,"3,115.45","2,018.00",5.25,48.07
16,SBIN,561.95,562.45,559.25,559.95,560.70,0.75,0.13,"65,29,851",366.08,629.55,499.35,-0.14,-7.75
17,BAJAJ-AUTO,"5,940.00","5,960.00","5,900.00","5,925.25","5,929.30",4.05,0.07,"2,97,211",175.90,"5,960.00","3,520.05",10.36,62.91
18,RELIANCE,"2,391.60","2,402.60","2,391.05","2,395.50","2,394.25",-1.25,-0.05,"33,74,743",809.02,"2,856.00","2,180.00",5.65,-8.55
19,MARUTI,"10,505.95","10,566.50","10,462.00","10,488.50","10,481.00",-7.50,-0.07,"3,80,306",399.89,"10,845.00","8,076.05",-0.43,16.59
20,LTIM,"5,490.00","5,511.35","5,437.75","5,471.35","5,466.05",-5.30,-0.10,"1,52,012",83.15,"5,637.65","4,121.00",5.83,-
21,HINDUNILVR,"2,515.10","2,519.80","2,507.45","2,519.90","2,515.45",-4.45,-0.18,"7,35,137",184.85,"2,769.65","2,393.00",1.34,-0.88
22,TITAN,"3,406.00","3,419.10","3,382.55","3,408.40","3,398.40",-10.00,-0.29,"5,89,530",200.59,"3,441.95","2,269.60",8.85,30.88
23,DRREDDY,"5,649.95","5,756.85","5,615.00","5,644.65","5,625.00",-19.65,-0.35,"4,61,081",263.10,"5,989.70","4,175.10",4.61,27.80
24,SUNPHARMA,"1,200.00","1,209.60","1,192.80","1,198.80","1,194.05",-4.75,-0.40,"13,76,695",165.03,"1,214.80",922.45,7.57,15.63
25,ULTRACEMCO,"8,638.00","8,655.00","8,545.05","8,605.25","8,570.00",-35.25,-0.41,"1,97,278",169.38,"8,869.60","6,604.10",4.21,24.47
26,TATACONSUM,934.70,936.85,924.00,933.00,929.00,-4.00,-0.43,"5,21,207",48.39,940.85,686.60,4.02,17.46
27,SBILIFE,"1,414.00","1,418.95","1,401.05","1,410.95","1,404.75",-6.20,-0.44,"3,87,896",54.66,"1,438.55","1,054.00",8.20,14.12
28,COALINDIA,335.35,337.45,332.10,334.45,332.85,-1.60,-0.48,"70,54,445",236.03,359.00,207.60,6.00,43.82
29,TATASTEEL,126.70,127.00,125.55,126.70,126.05,-0.65,-0.51,"1,47,19,450",185.67,135.00,101.55,5.05,18.60
30,POWERGRID,211.30,212.10,209.50,210.90,209.80,-1.10,-0.52,"72,50,200",152.75,215.10,153.19,4.73,-4.60
31,BAJFINANCE,"7,108.00","7,116.80","7,011.00","7,073.65","7,035.00",-38.65,-0.55,"7,26,499",512.02,"8,192.00","5,485.70",-6.48,4.05
32,BAJAJFINSV,"1,624.45","1,628.95","1,612.00","1,623.95","1,615.00",-8.95,-0.55,"6,25,345",101.20,"1,676.75","1,215.00",3.25,-1.01
33,ITC,441.00,442.25,436.85,440.35,437.90,-2.45,-0.56,"68,21,878",299.47,499.70,325.35,0.93,28.65
34,BPCL,413.00,413.00,407.00,411.30,409.00,-2.30,-0.56,"54,87,773",225.11,413.50,306.10,22.59,26.55
35,GRASIM,"1,963.90","1,969.45","1,945.45","1,956.90","1,945.95",-10.95,-0.56,"1,68,018",32.85,"2,022.00","1,527.05",5.03,12.35
36,BHARTIARTL,975.00,977.15,971.00,976.65,971.00,-5.65,-0.58,"23,22,104",226.29,981.00,735.80,6.40,14.91
37,HEROMOTOCO,"3,568.00","3,579.80","3,532.75","3,568.00","3,545.00",-23.00,-0.64,"5,14,405",182.66,"3,579.80","2,246.00",14.02,31.03
38,INDUSINDBK,"1,491.45","1,491.90","1,474.00","1,486.10","1,476.00",-10.10,-0.68,"28,13,844",416.92,"1,538.50",990.00,2.42,24.35
39,NESTLEIND,"24,450.00","24,472.85","24,108.05","24,393.30","24,189.90",-203.40,-0.83,"40,412",97.78,"24,745.00","17,880.00",0.34,23.60
40,INFY,"1,445.55","1,452.65","1,433.85","1,449.25","1,437.00",-12.25,-0.85,"29,73,195",428.19,"1,672.60","1,185.30",4.13,-12.12
41,TATAMOTORS,681.40,681.95,671.25,679.95,673.50,-6.45,-0.95,"69,51,690",468.99,687.65,375.20,5.09,55.52
42,EICHERMOT,"3,895.70","3,920.00","3,842.05","3,883.80","3,846.00",-37.80,-0.97,"2,66,314",102.89,"3,920.00","2,836.00",13.38,12.74
43,TECHM,"1,212.05","1,214.95","1,195.10","1,210.90","1,197.20",-13.70,-1.13,"8,84,921",106.55,"1,320.00",981.05,6.90,10.90
44,ONGC,190.85,191.85,188.15,190.65,188.40,-2.25,-1.18,"57,51,331",109.10,203.40,134.55,2.22,34.36
45,UPL,565.50,568.35,558.05,565.90,558.95,-6.95,-1.23,"8,68,199",48.76,807.00,528.15,0.05,-28.08
46,BRITANNIA,"4,705.80","4,715.00","4,640.50","4,705.80","4,642.00",-63.80,-1.36,"1,23,628",57.66,"5,270.35","4,139.50",2.88,11.01
47,TCS,"3,494.25","3,504.55","3,453.00","3,508.25","3,454.00",-54.25,-1.55,"19,89,733",691.33,"3,679.00","3,070.25",3.17,1.99
48,HCLTECH,"1,328.90","1,332.65","1,305.65","1,329.00","1,308.40",-20.60,-1.55,"17,95,933",235.73,"1,336.00","1,011.50",3.19,16.04
49,APOLLOHOSP,"5,493.00","5,493.00","5,395.00","5,493.95","5,408.70",-85.25,-1.55,"2,70,183",146.71,"5,595.00","4,123.00",11.82,12.77
50,WIPRO,402.50,403.50,395.55,402.50,396.00,-6.50,-1.61,"31,25,283",124.43,443.75,352.00,3.57,-1.69

## excel file

In [36]:
!dir

 Volume in drive D has no label.
 Volume Serial Number is BE03-3FCA

 Directory of D:\CodeMe\implementation\data_science_nov

11/27/2023  04:13 PM    <DIR>          .
11/27/2023  04:13 PM    <DIR>          ..
11/20/2023  03:34 PM    <DIR>          .ipynb_checkpoints
02/18/2019  10:37 AM               111 csv_mindex.csv
12/04/2021  03:33 PM                59 demo1.csv
12/04/2021  07:05 PM            10,545 demo1.xlsx
12/04/2021  03:36 PM                43 demo2.csv
02/18/2019  10:37 AM               169 demo3.csv
02/18/2019  10:37 AM               170 demo3.txt
12/04/2021  04:35 PM               169 demo4.csv
02/18/2019  10:37 AM                78 demo5.csv
02/18/2019  10:37 AM           626,863 demo6.csv
02/18/2019  10:37 AM                36 demo7.csv
12/04/2021  04:49 PM             6,189 demo_file.xlsx
02/18/2019  10:37 AM           281,823 fdic_failed_bank_list.html
12/05/2021  06:17 PM             2,681 final.csv
11/27/2023  04:13 PM           212,060 Introduction to Data Analytics.ipynb
01/06/2023  02:49 PM               880 mango_pickle
12/07/2021  12:37 AM            11,520 mydata.h5
11/27/2023  03:42 PM             7,021 nifty_27_nov.csv
11/28/2023  02:34 PM             6,234 nifty_final.csv
10/30/2019  12:16 AM                88 out.csv
12/05/2021  06:10 PM             6,136 out2.csv
12/05/2021  06:11 PM             6,136 out3.csv
12/05/2021  06:11 PM             6,136 out5.csv
12/05/2021  06:18 PM                58 out6.csv
01/06/2023  02:42 PM             6,136 out7.csv
12/05/2021  06:03 PM            32,948 output.csv
02/18/2019  10:37 AM           400,602 stock_px.csv
01/07/2023  01:44 AM       196,592,730 survey_results_public.csv
01/07/2023  01:44 AM             9,857 survey_results_schema.csv
01/19/2023  06:06 PM            32,948 survived.csv
12/06/2021  05:02 PM               942 tasty_pickle
12/04/2021  03:35 PM               118 test.tsv
02/18/2019  10:37 AM                40 test_file.csv
01/19/2023  06:06 PM            32,948 titan.csv
12/05/2021  06:25 PM               102 tseries.csv
              34 File(s)    198,294,576 bytes
               3 Dir(s)  236,528,173,056 bytes free

In [41]:
excel1 = pd.read_excel('demo1.xlsx',index_col=[0],sheet_name='Sheet5')
excel1

         fere retre rtretre retret
NaN     erter  tret     NaN   rter
treert    ter   ter    tert    NaN